doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='/materialize/js/jquery-3.1.1.min.js')
    script(src='/materialize/js/materialize.min.js')
    block head

  body
    //- navbar
    ul(id="dropdown1" class="dropdown-content")
      li
        a(href="/mylist") My Watch List
      li(class="divider")
      li
        a(href="/logout") Log out
        
    nav
      .nav-wrapper
        a.brand-logo(href='/') 
          img(alt="Smart Zillow" src="/logo.png" class="nav-logo")
        form(method="get", action="/search")
          .input-field
            input(id="search", type="search", name="search_text", placeholder="Search", required)
            label(for="search")
              i(class="material-icons" style="color: #26a69a") search
            i(class="material-icons") close
          
        ul(id='nav-mobile', class='right hide-on-med-and-down')
          li
            //- log in/out btns
            if logged_in_user
              a(class="dropdown-button waves-effect waves-light btn btn-index" href="#!" data-activates="dropdown1") 
                = logged_in_user
            else
              a(class='waves-effect waves-light btn btn-index' href='#modal-login') Log in
    
    block content
    
    include user.jade
    
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5(class='white-text') Smart Zillow
            p(class='grey-text text-lighten-4') Demo Project.
          .col.l4.offset-12.s12
            h5(class='white-text') Links
            ul
              li
                a(class="grey-text text-lighten-3" href="#") Terms of Service
              li
                a(class="grey-text text-lighten-3" href="#") Privacy
      .footer-copyright
        .container © 2016 Smart Zillow. All rights reserved.


    block js_script
