
.index-nav {
  background-color: white;
  box-shadow: none;
}

.btn-index {
  padding: 0 1rem;
}

.autocomplete-content {
  position: relative;
  z-index: 2147483647;
}

footer.page-footer {
  background-color: #009688;
}

nav {
  background-color: #f5f5f5;
}

nav form {
    position: absolute;
    left: 230px;
    width: 600px;
}

.nav-logo {
  height: auto;
  width: auto;
  max-width: 180px;
  max-height: 35px;
  left: 15px;
  position: absolute;
  top: 18px;
}

/* Search bar - credit to http://codepen.io/AustinAuth/pen/iksxo */

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input.search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  top: -33px;
  right: -23px;
}



/*.btn-blue {
  background-color: #4285f4;
  color: #fff;
}

.btn-blue:hover {
  background-color: #266ee2;
  color: #fff;
}*/
