body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-blue {
  background-color: #4285f4;
  color: #fff;
}

.btn-blue:hover {
  background-color: #266ee2;
  color: #fff;
}
