html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
      .row
        .col-md-4
        .col-md-4
          h1 Please register
          br
          form.form-signin(method='post', action='/register', id='registerForm', style='')
            .form-group
              label(for='email') Email Address
              input(class='form-control', id='email', type='text', name='email', required)
            .form-group
              label(for='password') Password
              input(class='form-control', id='password', type='password', name='password', required)
            - if (message)
              div(class="alert alert-warning", role="alert")
                = message
            input(class='btn btn-block btn-blue' type='submit', value='Register')
            hr
            .text-center
              p Already have an account? Please log in 
                a(href='/login') here
        .col-md-4
